.nosotrosContainer {
  margin-top: 15vh;
  /* margin-bottom: 20vh; */
  border-bottom: solid 1px var(--main-color);
}

.nosotrosTitle {
  border-bottom: solid 1px var(--main-color);  
}

.equipoContainer {
  margin-top: 1rem; 
  border-bottom: solid 1px var(--main-color); 
}

.equipoItem {
  padding: 1rem;
}

.equipoImg{
  position: relative;
  height: 40vh;
  width: 100%;    
}

.equipoInfo {
  text-align: center;
}

.mision {
  margin-top: 10vh;
  padding-bottom: 5rem;
  /* border-bottom: solid 1px var(--main-color); */
}

.misionImg {
  position: relative;
  height: 40vh;
}



/* ---------------------- */

.obraContainer {
  padding: 1rem;
  border-bottom: solid 1px var(--main-color);      
}

.bLeft {
  border-left: solid 1px var(--main-color);
}

.obraImage {
  height: 30vw;
  object-fit: cover;
}

.obraVer {
  font-size: 1rem; 
  cursor: pointer;
  align-self: center;
  transition: all 0.5s ease-in-out;
}

.obraVer:hover {
  transform: translate(0.4vw); 
}

.comentarios {
  margin-top: 10vh;
  padding-bottom: 5rem;
  border-bottom: solid 1px var(--main-color);
}

.mediaButton {
  font-size: 1rem;
  display: inline-block !important;
  width: auto !important;
  padding: 0.2rem 0.6rem;
  border: solid 1px var(--main-color);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.mediaButton:hover {
  transform: translate(0.4vw); 
}

@media screen and (max-width: 1200px) {
  .obraVer, .mediaButton  { 
    font-size: 0.8rem;      
  }
}

@media screen and (max-width: 768px) {
  .obraVer, .mediaButton  { 
    font-size: 0.7rem;      
  }
}

